In [1]:
%matplotlib inline
%matplotlib widget

import seaborn as sns
from query import * 
from dataframe_visualization import *
from performance_analysis import *
from visualize_widgets import visualize
import pandas as pd

In [2]:
df = pd.read_csv('test.csv') # sample dataframe

# df = q("""SELECT
#     EVENT_NAME,
#     MAX_TIMER_READ,
#     AVG_TIMER_READ,
#     MAX_TIMER_WRITE,
#     AVG_TIMER_WRITE,
#     MAX_TIMER_MISC,
#     AVG_TIMER_MISC
#     FROM performance_schema.file_summary_by_event_name;
# """) # it converts the result of input query to dataframe 
df

    Throughput  99%-tile Latency  Database Tuning Algorithm
0   220.157865       1686.653975     MySQL          Default
1   220.355173       1639.618390     MySQL          Default
2   225.644583       1858.592785     MySQL          Default
3   245.665162       1575.731517     MySQL          Default
4   215.805800       1412.154332     MySQL          Default
..         ...               ...       ...              ...
95  769.726812        323.317818  Postgres       RDS-config
96  736.047484        307.594130  Postgres       RDS-config
97  790.037404        302.911751  Postgres       RDS-config
98  696.485485        289.932078  Postgres       RDS-config
99  686.667962        293.842169  Postgres       RDS-config

[100 rows x 4 columns]

In [3]:
#import_and_update_data() # to import data from collected files

In [4]:
#visualize() # it shows widgets for various visualization modes
visualize(df) # for running 'dataframe visualization', dataframe argument is required

HBox(children=(HTML(value='<font size = 2> Recommendation', layout=Layout(margin='0 30px')), Checkbox(value=Tr…